<div id="content-wrapper" class="d-flex flex-column">

  <!-- Main Content -->
  <div id="content">

    <!-- Topbar -->
    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">


      <ul class="navbar-nav navbar-nav-hover align-items-lg-center">

        <li>
          <a class="nav-link no-caret" data-toggle="dropdown" role="button">
            <i class="ni ni-ui-04 d-lg-none"></i>
            <span class="nav-link-inner--text" [routerLink]="['user-profile']">Profile</span>
          </a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link no-caret" data-toggle="dropdown" role="button">
            <i class="ni ni-ui-04 d-lg-none"></i>
            <span class="nav-link-inner--text">Training</span>
          </a>
          
        </li>
        <li class="nav-item dropdown">
          <a [routerLink]="['/newsfeed']" class="nav-link no-caret" data-toggle="dropdown" role="button">
            <i class="ni ni-ui-04 d-lg-none"></i>
            <span class="nav-link-inner--text">Newsfeed</span>
          </a>
         
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link no-caret" [routerLink]="['/my-badges']" role="button">
            <i class="ni ni-ui-04 d-lg-none"></i>
            <span class="nav-link-inner--text">Badges</span>
          </a>

        </li>
        <li class="nav-item dropdown">
          <a class="nav-link no-caret" [routerLink]="['/list-event']" role="button">
            <i class="ni ni-ui-04 d-lg-none"></i>
            <span class="nav-link-inner--text">Events</span>
          </a>

        </li>
        <li class="nav-item dropdown">
          <a class="nav-link no-caret" [routerLink]="['/my-feedbacks']" role="button">
            <i class="ni ni-ui-04 d-lg-none"></i>
            <span class="nav-link-inner--text">FeedBacks</span>
          </a>

        </li>


        <li class="nav-item dropdown">
          <a class="nav-link no-caret" [routerLink]="['/team']" role="button">
            <i class="ni ni-ui-04 d-lg-none"></i>
            <span class="nav-link-inner--text">Team </span>
          </a>

        </li>

        <li class="nav-item dropdown">
          <a class="nav-link no-caret" [routerLink]="['/polls']" role="button">
            <i class="ni ni-ui-04 d-lg-none"></i>
            <span class="nav-link-inner--text">Polls </span>
          </a>

        </li>


      </ul>
      <ul class="navbar-nav align-items-lg-center ml-lg-auto">


        <li>
          <app-notification></app-notification>
        </li>



      </ul>

      <!-- Nav Item - Alerts -->

      <!-- Nav Item - Messages -->

      <div class="topbar-divider d-none d-sm-block"></div>

      <!-- Nav Item - User Information -->
      <li class="nav-item dropdown no-arrow">

        <!-- Dropdown - User Information -->
        <a href="javascript:void(0)" class="btn btn-sm btn-default float-right" (click)="logout()">Logout</a>
      </li>


    </nav>
  </div>
</div>