<!-- For displaying all users in a tables-->
<div class="container">
  <div class="row" *ngIf="deleteMsg !== ''">
    <div class="alert alert-info alert-dismissible">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      {{deleteMsg}}
    </div>
  </div>
  <div class="row">
    <h2>collaborations</h2>
    <table class="table table-sm table-bordered table-striped">
      <thead>
        <tr>
          <th>company Name</th>
          <th>description </th>
          <th>mail Company </th>
          <th>activity</th>
          <th>date</th>
          <th>Rated</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let colab of collabs">
          <td></td>
          <td>{{colab.companyName}}</td>
          <td>{{colab.description}}</td>
          <td>{{colab.mailCompany}}</td>
          <td>{{colab.activity}}</td>
          

          <td>{{colab.date | date:'dd/MM/yyyy'}}</td>

          <td>
            <!-- Raate Affichage Anas-->
          <td>
            <ng-container *ngFor='let in of counter(colab.rating) ;let i = index'>
              <img width="10" height="10" src="./../assets/img/brand/filled.png">

            </ng-container>
            <!--End  Raate Affichage Anas-->
          </td>
          <td>
            <!-- Raate Appel Anas-->

            <app-rate-collab [colab]="colab"></app-rate-collab>
            <!--End  Raate Affichage Anas-->


          <td>
            <button class="btn btn-success btn-sm" (click)="openVerticallyCentered(content,colab.collaborationId)"
              type="button" style="cursor:pointer">Update</button>

            <button class="btn btn-danger btn-sm ml-3" (click)="onClickDelete(colab.collaborationId)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
    <button class="btn btn-success btn-sm" (click)="addingoffers()" type="button" style="cursor:pointer">adding offers
      By convention </button>
    <app-add-collaboration></app-add-collaboration>

  </div>
</div>