
    <button class="dropdown-item" href="javascript:void(0)"  (click)="addReactPost(0,1)">
        <img height="30px" width="30px" src="./assets/img/icons/common/like.svg">
         Like
    </button>
    <button class="dropdown-item" href="javascript:void(0)"  (click)="addReactPost(1,1)">
        <img height="30px" width="30px" src="./assets/img/icons/common/kiss.svg">
         ADORE
    </button>
    <button class="dropdown-item" href="javascript:void(0)"  (click)="addReactPost(2,1)">
        <img height="30px" width="30px" src="./assets/img/icons/common/haha.svg">
         HAHA
    </button>
    <button class="dropdown-item" href="javascript:void(0)"  (click)="addReactPost(3,1)">
        <img height="30px" width="30px" src="./assets/img/icons/common/wow.svg">
         WOW
    </button>
    <button class="dropdown-item" href="javascript:void(0)"  (click)="addReactPost(4,1)">
        <img height="30px" width="30px" src="./assets/img/icons/common/cry.svg">
         CRY
    </button>
    <button class="dropdown-item" href="javascript:void(0)"  (click)="addReactPost(5,1)">
        <img height="30px" width="30px" src="./assets/img/icons/common/angry.svg">
         ANGRY
    </button>
    