<h1>Rate your colleague</h1>
<!-- <table>
    <thead>
        <tr>
            <th colspan="2">Rate Anas now</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <p> {{emptyImg}}</p>
            <td> <img src={{emptyImg}} (blur)="changeImage(1)"></td>
            <td> <img src='"{{emptyImg}}"' (blur)="changeImage(1)"></td>
            <td> <img src="../../assets/img/brand/empty.png"></td>


        
        </tr>
    </tbody>
</table>
-->

<!--<h2>Angular 11 Star Rating Example</h2>

<ngb-rating [max]="5" [(rate)]="currentRate" [readonly]="false"></ngb-rating>

<div class="star-rating-container star-rating-animation" fxLayout="row" fxLayoutAlign="start center">

    <div *ngFor="let star of stars" [ngClass]="[star.class]" (click)="selectStar(star.id)">
        <mat-icon>{{star.icon}}</mat-icon>
    </div>

</div>
-->

<div *ngIf="ratted==false">
    <img width="30" height="30" src={{imgage1}} (mouseover)="changeImage1()" (mouseleave)="resetImage()"
        (click)="rate(1)">
    <img width="30" height="30" src={{imgage2}} (mouseover)="changeImage2()" (mouseleave)="resetImage()"
        (click)="rate(2)">
    <img width="30" height="30" src={{imgage3}} (mouseover)="changeImage3()" (mouseleave)="resetImage()"
        (click)="rate(3)">
    <img width="30" height="30" src={{imgage4}} (mouseover)="changeImage4()" (mouseleave)="resetImage()"
        (click)="rate(4)">
    <img width="30" height="30" src={{imgage5}} (mouseover)="changeImage5()" (mouseleave)="resetImage()"
        (click)="rate(5)">
</div>
<div *ngIf="ratted==true">
    <h1> You ratted X {{ratting}} stars </h1>
    <ng-container *ngFor='let in of counter(ratting) ;let i = index'>
        <img width="30" height="30" src="./../assets/img/brand/filled.png">

    </ng-container>
</div>