

<main class="profile-page" >
        <section class="section-profile-cover section-shaped my-0">
          <!-- Circles background -->
          <div class="shape shape-style-1 shape-primary alpha-4">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </div>
          <!-- SVG separator -->
          <div class="separator separator-bottom separator-skew">
            <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
              <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
            </svg>
          </div>
        </section>
        <section class="section">
          <div class="container">
            <div class="card card-profile shadow mt--300">
              <div class="px-4">
                <div class="row justify-content-center">
                  <div class="col-lg-3 order-lg-2">
                    <div class="card-profile-image">
                       <a href="javascript:void(0)">
                        <img src="./assets/img/theme/team-4-800x800.jpg" class="rounded-circle">
                      </a> 
                      
                    </div>
                  </div>
                  <div class="col-lg-4 order-lg-3 text-lg-right align-self-lg-center">
                    <div class="card-profile-actions py-4 mt-lg-0">
                      <a href="javascript:void(0)" class="btn btn-sm btn-info mr-4">Connect</a>
                      <a href="javascript:void(0)" class="btn btn-sm btn-default float-right">Message</a>
                    </div>
                  </div>
                  <div class="col-lg-4 order-lg-1">
                    <div class="card-profile-stats d-flex justify-content-center">
                      <div>
                        
                        <span  class="heading"> {{Nlikes}}</span>
                        <span class="description">Likes</span>
                      </div>
                      <div>
                        <span class="heading">{{Ncomments}}</span>
                        <span class="description">Comments</span>
                      </div>
                      <div>
                        <span class="heading">{{Nshares}}</span>
                        <span class="description">Shares</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="text-center mt-5">
                  <h3 > 
                    <span class="font-weight-light">Yossr</span>
                  </h3>
                  <div class="h6 font-weight-300"><i class="ni location_pin mr-2"></i>{{postItem.date}}</div>
                  <div class="h6 mt-4"><i class="ni business_briefcase-24 mr-2"></i>{{postItem.text}}</div>

                  <!--Image Section start-->
                  <div *ngIf="retrievedImage;then contenu_bon else contenu_pas_bon">
                    Le contenu saisi ici sera ignoré.
                  </div>
                  <ng-template #contenu_bon>
                    <img [src]="imageUrl" width="300px;" height="300px;" />
                  </ng-template>
                  <ng-template #contenu_pas_bon>
                    <app-addphotopost [PostId]="postItem.postId"></app-addphotopost>
                  </ng-template>
                  <!--Image Section ends-->
                </div>
    
    
                   <!-- Menu -->
            <!-- Menu -->
                <nav class="navbar navbar-expand-lg navbar-dark bg-primary rounded" >
                  <div class="container">
                    <div class="collapse navbar-collapse" id="nav-inner-primary">
                      <div class="navbar-collapse-header">
                        <div class="row">
                          <div class="col-6 collapse-brand">
                            <a href="javascript:void(0)">
                              <img src="./assets/img/brand/blue.png">
                            </a>
                          </div>
                          <div class="col-6 collapse-close">
                            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#nav-inner-primary" aria-controls="nav-inner-primary" aria-expanded="false" aria-label="Toggle navigation">
                              <span></span>
                              <span></span>
                            </button>
                          </div>
                        </div>
                      </div>
                  <ul class="navbar-nav ml-lg-auto">

                      <!--react start-->
                      <li class="nav-item" ngbDropdown placement="bottom-right">
                        <a class="nav-link no-caret" ngbDropdownToggle id="dropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <img height="30px" width="30px" src="./assets/img/icons/common/addReact.svg">
                               React
                        </a>
                        <div class="dropdown-menu-right" aria-labelledby="dropdown1" ngbDropdownMenu>
                               <app-add-react [postReacted]="postItem"></app-add-react>
                              
                        </div>
                        
                      </li>
                      <!-- react ends-->
                      <!--My react start-->
                      <li class="nav-item">
                        <app-my-react [postReacted]="postItem"></app-my-react>
                      </li>
                      <!--My react ends-->
               

                      <li class="nav-item" ngbDropdown placement="bottom-right">
                        <a class="nav-link no-caret" ngbDropdownToggle id="dropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
                                 <img height="30px" width="30px" src="./assets/img/icons/common/share.svg">
                                   Share 
                             
                            </a>
                            <div class="container">
                              <div class="dropdown-menu-right" aria-labelledby="dropdown1" ngbDropdownMenu>
                                <app-share-post [postToshareId]="postItem.postId"></app-share-post>
        
                              </div>
                            </div>   
                            
                        </li>
                        
                 </ul>
                    </div>
                  </div>
                </nav>
                <!-- add comment -->
                
                <app-add-comment [postCommentedId]="productID"></app-add-comment>

                <hr>
            <!--Menuend -->

            </div>
    
          </div>
    </div>
     <!--Menuend -->
          <app-list-comment [postCommentedId]="productID"></app-list-comment>
        </section>
      </main>
      