<div class="container">
    <h2> Category List</h2>
<table class = "table table-striped">
    <thead>
        <tr>
            <th> name</th>
            <th> dictionary </th>
            <th> Actions </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let cat of categorys" >
            <td> {{ cat.name }} </td>
            <td> {{ cat.dictionary }} </td>
            <td>
                <button *ngIf="isEmployee==false"  (click) = "editCategory(cat)" class = "btn btn-info"> Update</button>
                <button *ngIf="isEmployee==false" (click) = "deleteCategory(cat.categoryId)" class = "btn btn-danger" style="margin-left: 10px"> Delete</button>
                <button *ngIf="isEmployee==false" (click) = "getCategoryById(cat.categoryId)" class = "btn btn-success" style="margin-left: 10px"> View</button>
            </td>
        </tr>
    </tbody>
</table>
<a href="/category/create" ><button  class = "btn btn-success"  >Create</button></a>
</div>