<div class="container">
   
<span></span>
<span></span>

<span></span>
<span></span>
<span></span>
<span></span>
<span></span>
<span></span>
<span></span>
<span></span>
<span></span>
<span></span>

<span></span>

    <div>
        <div>
         
        </div>
    </div>
        <table class="table table-striped">
            <span></span>
<span></span>

<span></span>
<span></span>
<span></span>
<span></span>
<span></span>
<span></span>
<span></span>
<span></span>
<span></span>
<span></span>
            <h1>Users</h1>
    
            <thead>
                <tr>
                    <th style="width: 30%">Name</th>
                    <th style="width: 30%">Points</th>
                    <th style="width: 30%">Photo</th>
                    <th style="width: 10%"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let badge of badges  ">
                    <td>{{badge.name}}</td>
                    <td>{{badge.points}}</td>
                    <td> </td>
                    <td style="white-space: nowrap">
                      
                   
                        <app-detail-badge [badge]="badge"></app-detail-badge>
                 <!--    <a routerLink="edit/{{badge.id}}" class="btn btn-sm btn-primary mr-1">Details</a>-->
                        <button (click)="deleteBadge(badge.badgeId)" class="btn btn-sm btn-danger btn-delete-badge">
                            Delete
                        </button>
                    </td>
                </tr>
                <tr *ngIf="!badges">
                    <td colspan="4" class="text-center">
                        <span class="spinner-border spinner-border-lg align-center"></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>