<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Vote Now</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">

        <div>
            <strong> {{msg}} </strong>
        </div>
        <button class="btn btn-1 btn-info" (click)="getCurrentResult()">Get your current
            result </button>

        <thead>
            <tr>
                <th style="width: 30%">First Name</th>
                <th style="width: 30%">Last Name</th>
                <th style="width: 10%">Votes</th>
                <th style="width: 10%"></th>
                <th></th>

            </tr>
        </thead>
        <tbody>

            <tr *ngFor="let user of users">
                    <td>{{user.firstName }}</td>
                    <td>{{user.lastName }}</td>
                    <td>{{user.numberOfVote }}</td>


                    <button (click)="vote(user.userId)"> Vote
                    </button>
            </tr>

        </tbody>
    </div>
    


    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    </div>
</ng-template>
<button class="btn btn-sm btn-primary mr-1" (click)="openVerticallyCentered(content)">Vote</button>