<button class="btn btn-1 btn-info"  (click)="getCurrentResult()" >Get your current result  </button>

<h4> {{msg}} </h4>
<div class="col-lg-3 col-sm-6 mt-4 mt-md-0">
    <!-- Radio buttons -->
    <div class="mb-3">
        <small class="text-uppercase font-weight-bold"> Vote Now </small>
    </div>

    <div  *ngFor="let user of users" class="custom-control custom-radio mb-3">
        
        <input name="custom-radio-1" class="custom-control-input" id="customRadio2" checked type="radio">
        <label class="custom-control-label" for="customRadio2">
            <span>{{user.userName }}</span>
        </label>
    </div>

</div>
<button class="btn btn-icon btn-3 btn-primary" type="button" (click)="getCurrentResult()" >
    <span class="btn-inner--icon"><i class="ni ni-bag-17"></i></span>
    <span class="btn-inner--text">Vote now </span>
</button>