<main>
    <section class="section section-shaped section-lg">
        <div class="shape shape-style-1 bg-gradient-default">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="container pt-lg-md">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <div class="card bg-secondary shadow border-0">
                        <div class="card-header bg-white pb-5">
                            <div class="text-muted text-center mb-3">
                                <small>Vote now</small>
                                <div class="container row">

                                    <div>
                                        <strong> {{msg}} </strong>
                                    </div>
                                    <button class="btn btn-1 btn-info" (click)="getCurrentResult()">Get your current
                                        result </button>



                                    <div class="col-lg-3 col-sm-6 mt-4 mt-md-0">
                                        <!-- Radio buttons -->



                                        <div *ngFor="let user of users">
                                            <div>


                                                <small>{{user.userName }}</small>


                                                <button class="btn btn-icon btn-3 btn-primary" type="button"
                                                    (click)="vote(user.userId)"> Vote for {{user.userName}}
                                                </button>
                                            </div>


                                        </div>

                                        <!--
                                            <div>
                                                <button class="btn btn-icon btn-3 btn-primary" type="button"
                                                    (click)="vote()">
                                                    <span class="btn-inner--icon"><i class="ni ni-bag-17"></i></span>
                                                    <span class="btn-inner--text">Vote now </span>
                                                </button>
                                            </div>
-->

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
</main>