<div class="row">
  <div class="example-2 card" *ngFor="let act of activitys" style="margin-bottom: 2rem;">
    <div *ngIf="act.category.name == 'resto' ">
      <div class="wrapper" style="background: url(https://static.actu.fr/uploads/2020/08/resto.jpg) center/cover no-repeat;">
        <div class="header">
          <div class="date">
            <span class="day">{{ act.date }}</span>
          </div>
          <ul class="menu-content">
            <li><a (click)="UserLikesActivity(act.activityId)" class="fa fa-heart-o" style="cursor: pointer;"><span>{{
                  act.nbrLikes }}</span></a></li>
          </ul>
        </div>
        <div class="data">
          <div class="content">
            <span class="author">Category : {{ act.category.name }}</span>
            <h1 class="title"><a href="#">{{ act.place }}</a></h1>
            <p class="text">{{ act.description }}</p>
            <a class="button" (click)="getActivityById(act.activityId)" style="cursor: pointer;">More</a>
          </div>
        </div>
      </div>
    </div>
    
    <div *ngIf="act.category.name == 'camping' ">
      <div class="wrapper" style="background: url(https://s3.amazonaws.com/imagescloud/images/medias/annexes/annexe-camping-2022.jpg) center/cover no-repeat;">
        <div class="header">
          <div class="date">
            <span class="day">{{ act.date }}</span>
          </div>
          <ul class="menu-content">
            <li><a (click)="UserLikesActivity(act.activityId)" class="fa fa-heart-o" style="cursor: pointer;"><span>{{
                  act.nbrLikes }}</span></a></li>
          </ul>
        </div>
        <div class="data">
          <div class="content">
            <span class="author">Category : {{ act.category.name }}</span>
            <h1 class="title"><a href="#">{{ act.place }}</a></h1>
            <p class="text">{{ act.description }}</p>
            <a class="button" (click)="getActivityById(act.activityId)" style="cursor: pointer;">More</a>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="act.category.name == 'soiree' ">
      <div class="wrapper" style="background: url(https://linstant-m.tn//uploads/5568.png) center/cover no-repeat;">
        <div class="header">
          <div class="date">
            <span class="day">{{ act.date }}</span>
          </div>
          <ul class="menu-content">
            <li><a (click)="UserLikesActivity(act.activityId)" class="fa fa-heart-o" style="cursor: pointer;"><span>{{
                  act.nbrLikes }}</span></a></li>
          </ul>
        </div>
        <div class="data">
          <div class="content">
            <span class="author">Category : {{ act.category.name }}</span>
            <h1 class="title"><a href="#">{{ act.place }}</a></h1>
            <p class="text">{{ act.description }}</p>
            <a class="button" (click)="getActivityById(act.activityId)" style="cursor: pointer;">More</a>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="act.category.name == 'Other' ">
      <div class="wrapper">
        <div class="header">
          <div class="date">
            <span class="day">{{ act.date }}</span>
          </div>
          <ul class="menu-content">
            <li><a (click)="UserLikesActivity(act.activityId)" class="fa fa-heart-o" style="cursor: pointer;"><span>{{
                  act.nbrLikes }}</span></a></li>
          </ul>
        </div>
        <div class="data">
          <div class="content">
            <span class="author">Category : {{ act.category.name }}</span>
            <h1 class="title"><a href="#">{{ act.place }}</a></h1>
            <p class="text">{{ act.description }}</p>
            <a class="button" (click)="getActivityById(act.activityId)" style="cursor: pointer;">More</a>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>