<div class="container mt-5">
    <div class="card">
        <div class="d-flex justify-content-between p-3">
            <div class="image">

                <img src="favicon.ico" width="90" alt="logo">
            </div>
            <div class="quiz-header">
                <h4 style="font-family: cursive;"> Name of the QUIZ {{quiz.quizName}}</h4>
                <span style="font-style: italic;">Welcome User </span>
            </div>
        </div>

        <ng-container *ngIf="!isQuizComplete">
            <div class="d-flex justify-content-around py-3">
                <div class="score">
                    <h5>{{points}} points</h5>
                </div>
                <div class="question-remain">
                    <span style="font-style: italic;">Question {{currentQuestion+1}} of {{questionList.length}} </span>
                </div>
                <div class="timer">
                    {{counter}} sec
                </div>
            </div>
            <div class="progress mb-3">
                <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [ngStyle]="{'width':progress+'%'}"  aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>

            <table>
                <tbody>
                <tr *ngFor="let c of questionList">
                    <td>{{c.question}}</td>
                    <td>{{c.option1}}</td>

                    <td>{{c.option2}}</td>
                    <td>{{c.option3}}</td>
                    <td>{{c.option4}}</td>

                </tr>

                </tbody>
            </table>


            <div class="question">
                {{ questionList[currentQuestion]?.question }}
            </div>
            <div class="options">
                <ol>
                    <li >
                        <div class="card" >
                            <span>A:</span>    {{questionList[currentQuestion]?.option1}}
                        </div>
                    </li>
                    <li >
                        <div class="card" >
                            <span>B:</span>       {{questionList[currentQuestion]?.option2}}
                        </div>
                    </li>
                    <li >
                        <div class="card">
                            <span>C:</span>   {{questionList[currentQuestion]?.option3}}
                        </div>
                    </li><li >
                    <div class="card">
                        <span>D:</span>    {{questionList[currentQuestion]?.option4}}
                    </div>
                    <div class="card">
                        <label for="answer-select">Choose an answer :</label>

                        <select name="" id="answer-select" [(ngModel)]="response" >
                            <option value="" >--Please choose an option--</option>
                            <option [ngValue]='reponseA' >A</option>
                            <option value="B" [ngValue]="reponseB">B</option>
                            <option value="C" [(ngModel)]="reponseC">C</option>
                            <option value="D" [(ngModel)]="reponseD">D</option>
                        </select>
                        <button class="btn btn-success" (click)="addAnswer(questionList[currentQuestion] ,response)" > validate</button>
                    </div>
                </li>
                </ol>

            </div>
            <div class="d-flex justify-content-between">
                <button  [disabled]="currentQuestion===num"   (click)="previousQuestion()" class=""><i class="fa text-primary fa-chevron-left fa-3x" aria-hidden="true"></i> </button>
                <button><i class="fa text-primary fa-refresh fa-3x" aria-hidden="true"></i></button>
                <button (click)="nextQuestion()" class=""><i  class="fa text-primary fa-chevron-right fa-3x" aria-hidden="true"></i> </button>
            </div>
        </ng-container>
        <ng-container *ngIf="isQuizComplete">
            <div class="row d-flex justify-content-between">
                <img  class="img-fluid col-md-6 " src="assets/celebration-icon-png-7.png">

                <div class="result text-center col-md-6 col-sm-6">
                    <h3>Congratulations !! <br> You have completed the Quiz .<br> below is your result :</h3>
                    <p>Total Question Attempted : {{ questionList.length }}</p>
                    <p>Total Correct Answered : {{ correctOption }}</p>
                    <p>Total Wrong Answered : {{ incorrectOption }}</p>
                    <p>Your Score : {{ points }}</p>
                </div>
            </div>
        </ng-container>



    </div>
</div>
