.container{
    border-top:20px;
    
    padding: 10%;

}

nav {
    float: left;
    width: 30%;
    height: 147px;
    padding: 0px;
  }
  section::after {
    content: "";
    display: table;
    clear: both;
  }
  * {
    box-sizing: border-box;
  }

  .btn[_ngcontent-pui-c133]:not(:disabled):not(.disabled) {
    cursor: pointer;}