
<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Give us a feedback </h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')">x</button>
      </div>  
       <div class="modal-body">
        <div class="mid">
            <div class="media"><img src="../../assets/img/icons/angry.png" alt="angry" (click)="Click1()"></div>
            <div class="media"><img src="../../assets/img/icons/unhappy.png" alt="moderate"(click)="Click2()"></div>
            <div class="media"><img src="../../assets/img/icons/neutral.png" alt="neutral" (click)="Click3()"></div>
            <div class="media"><img src="../../assets/img/icons/smile.png" alt="smile"(click)="Click4()" ></div>
            <div class="media"><img src="../../assets/img/icons/happy.png" alt="happy"(click)="Click5()"></div>
        </div>
        <div class="textarea">
            <p>Share your experience {{feedbackText}}</p>
            <textarea name="exp" id="exp" placeholder={{feedbackText}} [(ngModel)]="text" ></textarea>
        </div>
        <div class="end">
            <div class="submission">
                <button class="sub btn" (click)="sendFeedBack()">Send</button>
            </div>
          
        </div>
    </div>
</ng-template>
<div ><img width="5" height="5" src="../../assets/img/icons/feedback.png" alt="angry" (click)="open(content)"></div>
