
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="userUpdateForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <div class="form-group">
          <label for="userName">User Name</label>
          <input
            type="text"
            class="form-control"
            id="userName"
            formControlName="userName"
          />
          <div
            class="alert alert-danger"
            *ngIf="
              userUpdateForm.get('userName').invalid &&
              userUpdateForm.get('userName').touched
            "
          >
            <div *ngIf="userUpdateForm.get('userName').errors.required">
              Company Name is required.
            </div>
            <div *ngIf="userUpdateForm.get('userName').errors.minlength">
              Company Name must be at least 3 characters long.
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="firstName">First Name</label>
          <input
            type="text"
            class="form-control"
            id="firstName"
            formControlName="firstName"
          />
          <div
            class="alert alert-danger"
            *ngIf="
              userUpdateForm.get('firstName').invalid &&
              userUpdateForm.get('firstName').touched
            "
          >
            <div *ngIf="userUpdateForm.get('firstName').errors.required">
              Company Name is required.
            </div>
            <div *ngIf="userUpdateForm.get('firstName').errors.minlength">
              Company Name must be at least 3 characters long.
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="lastName">Last Name</label>
          <input
            type="text"
            class="form-control"
            id="lastName"
            formControlName="lastName"
          />
          <div
            class="alert alert-danger"
            *ngIf="
              userUpdateForm.get('lastName').invalid &&
              userUpdateForm.get('lastName').touched
            "
          >
            <div *ngIf="userUpdateForm.get('lastName').errors.required">
              Company Name is required.
            </div>
            <div *ngIf="userUpdateForm.get('lastName').errors.minlength">
              Company Name must be at least 3 characters long.
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="mail">mail </label>
          <input
            type="text"
            class="form-control"
            id="mail"
            formControlName="mail"
          />
        </div>
        <div class="form-group">
          <label for="date"> date</label>
          <input
            type="date"
            class="form-control"
            id="date"
            formControlName="date"
          />
        </div>
        <div class="form-group">
          <label for="phoneNumber">Phone Number</label>
          <input
            type="text"
            class="form-control"
            id="phoneNumber"
            formControlName="phoneNumber"
          />
          <div
            class="alert alert-danger"
            *ngIf="
              userUpdateForm.get('phoneNumber').invalid &&
              userUpdateForm.get('phoneNumber').touched
            "
          >
            <div *ngIf="userUpdateForm.get('phoneNumber').errors.required">
              Company Name is required.
            </div>
            <div *ngIf="userUpdateForm.get('phoneNumber').errors.minlength">
              Company Name must be at least 3 characters long.
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="cin">Cin </label>
          <input
            type="text"
            class="form-control"
            id="cin"
            formControlName="cin"
          />
          <div
            class="alert alert-danger"
            *ngIf="
              userUpdateForm.get('cin').invalid &&
              userUpdateForm.get('cin').touched
            "
          >
            <div *ngIf="userUpdateForm.get('cin').errors.required">
              Company Name is required.
            </div>
            <div *ngIf="userUpdateForm.get('cin').errors.minlength">
              Company Name must be at least 3 characters long.
            </div>
          </div>
        </div>

        

  
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Update</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </form>
  </div>
 

  <!-- <div class="form-group">
    <input type="file" (change)="onImageUpload($event)">
    <input type="button" (click)="uploadUserProfilePicture()" value="Upload Image" class="btn1">
</div>

<div class="col-md-6">

          <input type="button" (click)="viewImage()" value="Get Image">
      zdsxdxs    {{postResponse}}
  
      </div>
            
<div class="container row">
  
      <div class="col-md-12">
  
          <div *ngIf=dbImage>
       
              <img ng-src="{{dbImage}}">
  
          </div>
  
      </div>
  
  </div>-->
</ng-template>

<a
  href="javascript:void(0)"
  class="btn btn-sm btn-info mr-4"
  (click)="open(content)"
  >Update Profile</a
>
