
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    
    <form>
      <div class="mb-3">
        <label >FirstName</label>
        <input class="form-control" placeholder="First Name" type="text" (focus)="focus=true" (blur)="focus=false" [ngClass]="form.firstname">
        <label for="dateOfBirth">Date of birth</label>
    <!--    <div class="input-group">
          

          <input id="dateOfBirth" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #dp="ngbDatepicker">
          <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"></button>
        </div>-->
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button  class="btn btn-outline-dark" (click)="updateUser()" >Save</button>
  </div>

  <div class="form-group">
    <input type="file" (change)="onImageUpload($event)">
    <input type="button" (click)="uploadUserProfilePicture()" value="Upload Image" class="btn1">
</div>

<div class="col-md-6">

          <input type="button" (click)="viewImage()" value="Get Image">
      zdsxdxs    {{postResponse}}
  
      </div>
            
<div class="container row">
  
      <div class="col-md-12">
  
          <div *ngIf=dbImage>
       
              <img ng-src="{{dbImage}}">
  
          </div>
  
      </div>
  
  </div>
  
          
</ng-template>

<a href="javascript:void(0)" class="btn btn-sm btn-info mr-4" (click)="open(content)">Update Profile</a>

