<h3> View Event Details</h3>
<div>
    <div>
        <label> <b> title: </b></label> {{event.title}}
    </div>
    <div>
        <label> <b> place: </b></label> {{event.place}}
    </div>
    <div>
        <label> <b> publishDate: </b></label> {{event.publishDate}}
    </div>
    <div>
        <label> <b> startDate: </b></label> {{event.startDate}}
    </div>
    <div>
        <label> <b> endDate: </b></label> {{event.endDate}}
    </div>
    <div>
        <label> <b> place: </b></label> {{event.place}}
    </div>
    <div>
        <label> <b> privateEvent: </b></label> {{event.privateEvent}}
    </div>
    <div>
        <label> <b> description: </b></label> {{event.description}}
    </div>
    <div>
        <button (click) = "goToEventList()" class = "btn btn-info" style="margin-left: 10px"> Back</button>
    </div>
</div>