

<app-navbar></app-navbar>


<router-outlet></router-outlet>




<!--
    <app-navbar></app-navbar>


<app-footer></app-footer>

<app-chat></app-chat>

<app-my-badges></app-my-badges>

<app-poll></app-poll>

<app-vote></app-vote>

<app-rate-colleague></app-rate-colleague>
<app-rate-collab></app-rate-collab>
<app-rate-event></app-rate-event>
<app-feedback-event></app-feedback-event>
<app-feedback-colleague></app-feedback-colleague>



<app-users></app-users>
-->
<!--<app-footer></app-footer> -->
