
<main *ngFor="let post of ListPost; let i= index" class="profile-page" >
  <div >
    <section class="section-profile-cover section-shaped my-0">
      <!-- Circles background -->
      <div class="shape shape-style-1 shape-primary alpha-4">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
    <section class="section">
      <div class="container">
        <div class="card card-profile shadow mt--300">
          <div class="px-4">
            <div class="row justify-content-center">
              <div class="col-lg-3 order-lg-2">
                <div class="card-profile-image">
                  <a href="javascript:void(0)">
                    <img src="./assets/img/theme/team-4-800x800.jpg" class="rounded-circle">
                  </a>
                </div>
              </div>
              <div class="col-lg-4 order-lg-3 text-lg-right align-self-lg-center">
                <div class="card-profile-actions py-4 mt-lg-0">
                  <a href="javascript:void(0)" class="btn btn-sm btn-info mr-4">Connect</a>
                  <a href="javascript:void(0)" class="btn btn-sm btn-default float-right">Message</a>
                </div>
              </div>
              <div class="col-lg-4 order-lg-1">
                <div class="card-profile-stats d-flex justify-content-center">
                  <div>
                    
                    <span class="heading"> {{post.nlikes}}</span>
                    <span class="description">Likes</span>
                  </div>
                  <div>
                    <span class="heading">0</span>
                    <span class="description">Comments</span>
                  </div>
                  <div>
                    <span class="heading">0</span>
                    <span class="description">Shares</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="text-center mt-5">
              <h3 > 
                <span class="font-weight-light">Yossr</span>
              </h3>
              <div class="h6 font-weight-300"><i class="ni location_pin mr-2"></i>{{post.date}}</div>
              <div class="h6 mt-4"><i class="ni business_briefcase-24 mr-2"></i>{{post.text}}</div>
              
            </div>


               <!-- Menu -->
        <!-- Menu -->
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary rounded">
              <div class="container">
                <div class="collapse navbar-collapse" id="nav-inner-primary">
                  <div class="navbar-collapse-header">
                    <div class="row">
                      <div class="col-6 collapse-brand">
                        <a href="javascript:void(0)">
                          <img src="./assets/img/brand/blue.png">
                        </a>
                      </div>
                      <div class="col-6 collapse-close">
                        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#nav-inner-primary" aria-controls="nav-inner-primary" aria-expanded="false" aria-label="Toggle navigation">
                          <span></span>
                          <span></span>
                        </button>
                      </div>
                    </div>
                  </div>
                  <a class="navbar-brand" href="javascript:void(0)" [routerLink]="['/postdetail/'+post.postId]">
                    <img height="30px" width="30px" src="./assets/img/icons/common/view-details.svg">
                      View Post</a>
                      <a class="navbar-brand" href="javascript:void(0)" style="cursor:pointer" (click)="openVerticallyCentered(content,post.postId)" >
                        <img height="30px" width="30px" src="./assets/img/icons/common/report.svg"> 
                        Report Post
                      </a>
                      
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-inner-primary" aria-controls="nav-inner-primary" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <!--react start-->
                  
                  <ul class="navbar-nav ml-lg-auto">
                    <li class="nav-item" ngbDropdown placement="bottom-right">
                      <a  class="nav-link no-caret" ngbDropdownToggle id="dropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img height="30px" width="30px" src="./assets/img/icons/common/addReact.svg">
                             React: {{react}}
                      </a>

                      <div class="dropdown-menu-right" aria-labelledby="dropdown1" ngbDropdownMenu>
                             <app-add-react [postReacted]="post"></app-add-react>
                      </div>
                      
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0)">
                            <img height="30px" width="30px" src="./assets/img/icons/common/comment.svg">
                             Comment</a>
                      </li>
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0)">  
                             <img height="30px" width="30px" src="./assets/img/icons/common/share.svg">
                              Share
                         
                        </a>
                    </li>
                  </ul>
                  <!-- react ends-->
                </div>
              </div>
            </nav>

        <!--Menuend -->
        <div class="mt-5 py-5 border-top text-center">
            <div class="row justify-content-center">
              <div  class="col-lg-9">
                <p></p>
                <a href="javascript:void(0)"></a>
                <a href="javascript:void(0)"></a>
              </div>
            </div>
            <div class="row justify-content-center">
                <div  class="col-lg-9">
                  <p></p>
                  <a href="javascript:void(0)"></a>
                  <a href="javascript:void(0)"></a>
                </div>
              </div>
              <div class="row justify-content-center">
                <div  class="col-lg-9">
                  <p></p>
                  <a href="javascript:void(0)"></a>
                  <a href="javascript:void(0)"></a>
                </div>
              </div>
          </div>
          </div>
        </div>

      </div>

      
    </section>
  </div>
  <div *ngFor="let r of ListReact; let i= index ">
    <p>r</p>

  </div>

  </main>

    <!-- Reclamation-->
    <ng-template #content let-modal>
      <div class="modal-header">
        <button type="button" class="ni ni-fat-remove" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
      </div>
      <form class="form-sm" [formGroup]="reclamationForm" (ngSubmit)="onSubmit()">
          <div class="modal-body">
            <div class="form-group">
                <label for="postId">postId </label>
                <input type="int" class="form-control" id="postId"
                  formControlName="postId">       
             </div>                      
                  </div>  
           <div class="form-group">
            <label for="postId">complaintSubject </label>
            <input type="text" class="form-control" id="complaintSubject"
              formControlName="complaintSubject">       
         </div>                      




  
            <div class="form-group">
              <label for="contentReport">content Report </label>
              <select class="form-control" id="contentReport"                    
              formControlName="contentReport">
                <option *ngFor="let type of contentReportList" [value]="type">{{type}}</option>
              </select>
            </div>

  
          <div class="modal-footer">
              <button type="submit" class="btn btn-primary">Send Report</button>
              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          </div>
          </form>
      <div class="modal-footer">
     
      </div>
    </ng-template>
  