<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title">{{user.firstName}} {{user.lastName}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <input type="file" (change)="onImageUpload($event)">
            <input type="button" (click)="uploadUserProfilePicture()" value="Upload Image" class="btn1">
        </div>
      
      
     
    </div>
  
    <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    </div>
  </ng-template>
  <button class="btn btn-sm btn-primary mr-1" (click)="openVerticallyCentered(content)">Details</button>