.profile-page .card-profile .card-profile-image img {
    max-width: 130px;
  
    margin-top: 85px;
}
.mt-5, .my-5 {
    margin-top: 90px;
}

.justify-content-center {
    margin-bottom: 71px;
}


.container{
    border-top:20px;

}

nav {
    float: left;
    width: 30%;
    height: 147px;
    padding: 0px;
  }
  section::after {
    content: "";
    display: table;
    clear: both;
  }
  * {
    box-sizing: border-box;
  }