<div class="row">
    <div class="col-sm-6, col-md-6">
        <h2>Delete Collab</h2>
        <form [formGroup]="colabDeleteForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="collaborationId">Enter Id to be deleted</label>
                <input type="text" class="form-control" id="collaborationId"
                formControlName="collaborationId">       
                    <div class="alert alert-danger" *ngIf="colabDeleteForm.get('collaborationId').invalid 
                        && colabDeleteForm.get('collaborationId').touched">
                        Please enter a valid Id
                    </div>                                        
            </div>
            <button type="submit" [disabled]="colabDeleteForm.invalid" class="btn btn-success">Submit</button>
            
        </form> 
    </div>
</div>
<div class="row"> 
    <div class="col-sm-6, col-md-6">
        <div class="alert alert-danger" *ngIf="errorMsg">
            <p>{{ errorMsg }}</p>
        </div>
    </div>
</div>