

<div class="row" >
    <div class="col-md-12">
        <div class="card text-center table-responsive">
            <table class="table table-bordered">
                <thead style="background-color: rgb(192,183,183);">
                <th>title</th>
                <th>description</th>
                <th>StartDate</th>
                <th>EndDate</th>
                <th>hoursNumbers</th>
                <th>MaxParticipant</th>
                <th>certified</th>


                </thead>
                <tbody>
                <tr *ngFor="let c of listTraining">
                    <td>{{c.title}}</td>
                    <td>{{c.description}}</td>
                    <td>{{c.startDate | date: "dd MMMM yyyy" | uppercase}}</td>
                    <td>{{c.endDate | date: "dd MMMM yyyy" | uppercase}}</td>
                    <td>{{c.hoursNumbers}}</td>
                    <td>{{c.maxParticipant}}</td>
                    <td>{{c.certified}}</td>
                    <td>  <button type="button" class="btn btn-outline-primary"

                    > edit</button>  </td>
                    <td> <button type="button" class="btn btn-outline-danger" (click)="deleteTraining(c.trainingId)">delete</button>  </td>

                </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="container">
    <form *ngIf="form">
        <div class="row col-md-6">
            <input type="text"  placeholder="training title" [(ngModel)]="training.title" [ngModelOptions]="{standalone: true }" >
        </div>
        <div class="row col-md-6">
            <input type="text"  placeholder="description" [(ngModel)]="training.description" [ngModelOptions]="{standalone: true }" >
        </div>


        <div class="row col-md-6">
            <input type="date" placeholder="start date " [(ngModel)]="training.startDate"
                   [ngModelOptions]="{standalone: true }" >

            <input type="date" placeholder="end date" [(ngModel)]="training.endDate" [ngModelOptions]="{standalone: true }">
        </div>
        <div class="row col-md-6">
            <input type="Number"  placeholder="hoursNumbers" [(ngModel)]="training.hoursNumbers" [ngModelOptions]="{standalone: true }" >
        </div>
        <div class="row col-md-6">
            <input type="number"  placeholder="MaxParticipant" [(ngModel)]="training.maxParticipant" [ngModelOptions]="{standalone: true }" >
        </div>
        <div class="row col-md-6">
            <input type="number"  placeholder="idCoach" [(ngModel)]="training.idCoach" [ngModelOptions]="{standalone: true }" >
        </div>

        <select name="certified" [(ngModel)]="training.certified" [ngModelOptions]="{standalone: true }" >
            <option value="true">Certified</option>
            <option value="false">Not Certified</option>

        </select>
        <br>
        <button type="button" class="btn btn-success" (click)="addAndAffectTrainingToCoach(training , training.idCoach )">Add training </button>



    </form>
</div>

