<div class="col-md-6 col-lg-3 mb-5 mb-lg-0">
  <div class="px-4">


    <div class="pt-4 text-center">
      <a *ngIf=retrievedImage href="javascript:void(0)">
        <img [src]="imageUrl" class="img-fluid rounded-circle shadow" style="width: 700px;" />
      </a>
      <h5 class="title">
        <span class="d-block mb-1">{{user.firstName}} {{user.lastName}}</span>
        <small class="h6 text-muted">{{user.mail}}</small>
        <ng-container *ngFor='let in of counter(user.rating) ;let i = index'>
          <img width="30" height="30" src="./../assets/img/brand/filled.png"> 
  
      </ng-container>
      </h5>
      <div class="mt-3">
        <app-rate-colleague [user]="user">     </app-rate-colleague>
        <app-feedback-colleague [user]="user"> </app-feedback-colleague>
      </div>
    </div>
  </div>
</div>


<div class="col-md-6 col-lg-3 mb-5 mb-lg-0">