<!-- Sidebar -->
<nav>
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">


    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
      <a class="nav-link" href="index.html">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
      Interface
    </div>

    <!-- Nav Item - Pages Collapse Menu -->

    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/userlist']">
        <i class="fas fa-fw fa-chart-area"></i>
        <span>Users</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/training']">
        <i class="fas fa-fw fa-cog"></i>
        <span>Training</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link collapsed" [routerLink]="['/back/event']">
        <i class="fas fa-fw fa-cog"></i>
        <span >Events</span>
      </a>

    </li>

    <li class="nav-item">
      <a class="nav-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
        aria-controls="collapseTwo">
        <i class="fas fa-fw fa-cog"></i>
        <span routerLink="/collabs">Collaborations</span>
      </a>

    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/listPoll']">
        <i class="fas fa-fw fa-chart-area"></i>
        <span>Polls</span></a>
    </li>

    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/Subjects']">
        <i class="fas fa-fw fa-chart-area"></i>
        <span>Subjects</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/Articles']">
        <i class="fas fa-fw fa-chart-area"></i>
        <span>Article</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/Responses']">
        <i class="fas fa-fw fa-chart-area"></i>
        <span>Responses</span></a>
    </li>


    <!-- Nav Item - Utilities Collapse Menu -->
    <li class="nav-item">
      <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <h6 class="collapse-header">Custom Utilities:</h6>
          <a class="collapse-item" href="utilities-color.html">Colors</a>
          <a class="collapse-item" href="utilities-border.html">Borders</a>
          <a class="collapse-item" href="utilities-animation.html">Animations</a>
          <a class="collapse-item" href="utilities-other.html">Other</a>
        </div>
      </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
      Addons
    </div>







    <!-- Content Wrapper -->




  </ul>
</nav>
<!--  NAV BAAR -->