.bg-gradient-primary {
    background: linear-gradient(87deg, #5e72e4 0, #825ee4 100%) !important;
    z-index: 10;
    position: fixed;
}

nav {
    float: left;
    width: 10%;
    height: 147px;
    padding: 0px;
  }